/* any CSS entered here should appear on all pages of the website */
/* Color pallet http://paletton.com/#uid=74Z0Z0kuiiUvNtru4nlwudexs7O */
/* base color 66,66,62 grey */

body {
    background: rgb(66,66,62);
    font-family: sans-serif;
    color: rgb(225, 225, 225);
}

#head {
    width: 100%;
    height: 30px;
}

.menu-option {
  list-style: none;
  display: inline;
  flex-grow: 1;
  background-color: rgb(62, 22, 0);
  color: rgb(235, 83, 2);
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
  height: 40px;
  text-rendering: optimizeLegibility;
  line-height: 40px;
  border-width: thick;
  border-style: outset;
  border-color: rgb(235, 83, 2);
}

.menu-top {
  width: 100%;
  height: 40px;
}

ul {
  display: flex;
  padding-left: 0px;
}

.wrapper {
  margin: 2%;
}
