/* any CSS entered here should appear on all pages of the website */
/* Color pallet http://paletton.com/#uid=74Z0Z0kuiiUvNtru4nlwudexs7O */
/* base color 66,66,62 grey */

html {
  font-size: 62.5%;
  height: 100%;
  overflow: auto;
  display: grid; }

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  background: rgb(37,37,37);
  font-family: sans-serif;
  color: rgb(225, 225, 225);
  font-family: 'Inconsolata', 'Monaco', monospace;
  margin-top: 0px;
  margin-bottom: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 300;
  margin-top: 1.2rem; }

h1 { font-size: 4.0vw; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6vw; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0vw; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4vw; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8vw; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5vw; line-height: 1.6;  letter-spacing: 0; }

img {
    max-width: 100%;
    max-height: 100%;
}

.button {cursor: pointer; }
.button:hover {
  background-color: rgb(43, 0, 38);
  color: rgb(162, 1, 142);
  border-color: rgb(162, 1, 142);}
.button:active {
  transform: translateY(5px); }

#head {
  width: 100%;
  height: 3rem; }

.menu-option {
  /*list-style: none;*/
  /*display: inline;*/
  flex-grow: 1;
  background-color: rgb(62, 22, 0);
  color: rgb(235, 83, 2);
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  border-radius: 1.0rem;
  height: 3.5rem;
  min-width: 75px;
  text-rendering: optimizeLegibility;
  line-height: 2.75rem;
  text-decoration: none;
  border-width: thick;
  border-style: outset;
  border-color: rgb(235, 83, 2);
  box-shadow: 0px 1.5em 2.5em -0.50em black;
  font-weight: 900;}

.menu-top {
  width: 100%;
  height: 3.5rem;
  /*transform: translateY(-30%);*/
  display: flex;
  flex-direction: row;}

#head-div {
  border-bottom: solid;
  border-color:rgb(235, 83, 2);
  padding: 0 2% 0.75em 2%;
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(37, 37, 37);
  box-sizing: border-box;
  z-index: 10;
  top: 0;
  grid-row: 1 / 2; }

.wrapper {
  height: 99.6%;
  display: grid;
  grid-template-rows: 9.5rem auto 6rem;}

ul {
  display: flex;
  padding-left: 0px;
  margin-bottom: 1rem; }

.main-body {
  margin: 1%;
  margin-top: 0;
  /*transform: translateY(10rem); */
  height: auto;
  width: 98%;
  float: none;
  display: flex;
  flex-direction: row;
  grid-row: 2 / 3;
  }

#body-content {
  max-width: 49%;
  width: 100%;
  height: auto;
  margin: 0 1% 0 1%;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  justify-content: space-between;
  align-items: stretch;}

.landscape {
  max-width: 48%;
  height: auto;
  width: 100%;
  margin: 1.2rem 1% 0 1%;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;}

  .adspace {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   text-align: center; }

.foot {
  height: 6rem;
  border-top: solid;
  border-color: rgb(1, 155, 108);
  /*background-color: white;*/
  width: 100%;
  background-color: rgb(37, 37, 37);
  bottom: 0;
  grid-row: 3 / 4; }

  @media screen and (max-width:500px) {
    .main-body {flex-direction: column}
    .landscape {max-width: 100%}
    #body-content { max-width: 100%;}
    h1 { font-size: 8vw;}
    h2 { font-size: 7.2vw;}
    h3 { font-size: 6vw;}
    h4 { font-size: 4.8vw;}
    h5 { font-size: 3.6vw;}
    h6 { font-size: 3vw;}
    .menu-top {
      flex-wrap: wrap;
      height: 50%}
    .menu-option {
      max-width: 40%;
      flex-basis: 100px;}
    .wrapper { grid-template-rows: auto auto 6rem;}
  }

    @media screen and (max-width:300px) {
      .wrapper { grid-template-rows: 16.55rem auto 6rem;}
}
